

<!DOCTYPE html>
<html>
<head>
	<title></title>
<!-- <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css"> -->
<!-- <script src="http://www.w3cschool.cc/try/angularjs/1.2.5/angular.min.js"></script> -->

<link href="css/bootstrap.min.css" rel="stylesheet">  
     <script src="js/angular.min.js"></script>  
     <script src="js/ui-bootstrap-tpls.min.js"></script>
   <!--  <script src="http://cdn.bootcss.com/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.js"></script> -->
<meta charset="utf-8">
</head>
<body ng-app="myApp" class="row">
    <!-- <div style="color:#fff; font-size:30px; font-weight:bold; text-shadow:3px 3px 3px #ccc;-webkit-text-shadow:3px 3px 3px #ccc; text-align:center; margin-top:30px;">FE-演示平台</div> -->
    <section class="row" >
        <section ng-controller="modalDemo" class="col-md-6" style="margin:40px auto; padding:30px;">
    <script type="text/ng-template" id="myModelContent.html"> <!--  //创建一个局部视图，需要的时候引用它， 下面会用到 -->
        <div class="modal-header"> <!-- // modal头部 。body  footer 类推 -->
             <h3 class="modal-title">签到</h3>
        </div>
        <div class="modal-body">
            <div>当前时间为：{{today | date:'yyyy-MM-dd HH:mm:ss'}}</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">
            确认
            </button>
            <button class="btn btn-warning" ng-click="cancel()">退出</button>
        </div>
    </script>
            <button class="btn btn-info" ng-click="open()">签到</button>
            <hr>
            <div ng-show="flag">当前签到时间{{today}}</div>
        </section>
    </section>
</body>
<script>
    angular.module('myApp',['ui.bootstrap']).controller('modalDemo',function($scope,$modal,$log){ //
        // $scope.items = ['html5','jq','FE-演示平台'];
        $scope.today = new Date();
        $scope.open = function(){  //打开模态 
            var modalInstance = $modal.open({
                templateUrl : 'myModelContent.html',  //指向上面创建的视图
                controller : 'ModalInstanceCtrl',// 初始化模态范围
                resolve : {
                    today : function(){
                        return $scope.today;
                    }
                }
            })
            modalInstance.result.then(function(flag){  
                $scope.flag = true;
            },function(){
                $log.info('Modal dismissed at: ' + new Date())
            })
        }
    })
    angular.module('myApp').controller('ModalInstanceCtrl',function($scope,$modalInstance,today){ //依赖于modalInstance
        // $scope.items = items;
        $scope.today = today;
        // $scope.selected = {
        //     item : $scope.items[0]
        // };
        $scope.ok = function(){  
            $modalInstance.close($scope.today); //关闭并返回当前选项
        };
        $scope.cancel = function(){
            $modalInstance.dismiss('cancel'); // 退出
        };
    })
</script>
</html>






<!-- <!DOCTYPE html>  
  <html ng-app="ModalDemo">  
  <head>  
      <title></title>  
      <link href="css/bootstrap.min.css" rel="stylesheet">  
     <script src="js/angular.min.js"></script>  
     <script src="js/ui-bootstrap-tpls-1.0.3.min.js"></script>  
      <script src="js/angular-locale_zh-cn.js"></script>  
 </head>  
 <body>  
 <div ng-controller="ModalDemoCtrl">  
    <script type="text/ng-template" id="myModalContent.html">
         <div class="modal-header">  
             <h3>I'm a modal!</h3>  
        </div>  
         <div class="modal-body">  
             <ul>  
                 <li ng-repeat="item in items">  
                     <a ng-click="selected.item = item">{{ item }}</a>  
                 </li>  
             </ul>  
             Selected: <b>{{ selected.item }}</b>  
        </div>  
         <div class="modal-footer">  
             <button class="btn btn-primary" ng-click="ok()">OK</button>  
             <button class="btn btn-warning" ng-click="cancel()">Cancel</button>  
         </div>  
	</script>
     <button class="btn" ng-click="open()">Open me!</button>  
 </div>  
 <script type="text/javascript">  
     var ModalDemo = angular.module('ModalDemo', ['ui.bootstrap']);  
     var ModalDemoCtrl = ModalDemo.controller('ModalDemoCtrl',function ($scope, $modal, $log) {  
         $scope.items = ['item1', 'item2', 'item3'];  
        $scope.open = function () {  
            var modalInstance = $modal.open({  
                 templateUrl: 'myModalContent.html',  
                 controller: ModalInstanceCtrl,  
                resolve: {  
                     items: function () {  
                         return $scope.items;  
                    }  
                }  
            });  
            modalInstance.opened.then(function(){//模态窗口打开之后执行的函数  
                console.log('modal is opened');  
            });  
            modalInstance.result.then(function (result) {  
                 console.log(result);  
            }, function (reason) {  
                console.log(reason);//点击空白区域，总会输出backdrop click，点击取消，则会暑促cancel  
                $log.info('Modal dismissed at: ' + new Date());  
            });  
        };  
     }
     )
    var ModalInstanceCtrl = ModalDemo.controller('ModelInstanceCtrl',function ($scope, $modalInstance, items) {           $scope.items = items;  
         $scope.selected = {  
             item: $scope.items[0]  
         };  
         $scope.ok = function () {  
             $modalInstance.close($scope.selected);  
         };  
         $scope.cancel = function () {  
             $modalInstance.dismiss('cancel');  
         };  
     }  
     )
 </script>  
 </body>  
 </html>  -->